<form action="/view/users/<%= userid %>/skills" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="title" class="form-control" name="title" id="title" placeholder="Title" aria-describedby="emailHelp" />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="description" class="form-control" name="description" id="description" placeholder="Description" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
