<form action="/view/users" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" aria-describedby="emailHelp" />
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="name" class="form-control" name="name" id="name" placeholder="Name" />
  </div>
  <!-- <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" />
  </div> -->
  <div class="mb-3">
    <label for="location" class="form-label">Post Code</label>
    <input class="form-control" name="location" id="location" placeholder="Post Code" />
  </div>
  <!-- <div class="mb-3">
    <label for="skill" class="form-label">Skill</label>
    <input class="form-control" name="skill" id="skill" placeholder="Skill" />
  </div> -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
