<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <header><%- include('../partials/nav'); %></header>
    <main class="container">
      <h1 class="h1 display1 text-center">CrowdEd</h1>
      <div class="container-sm">
        <h3 class="h3 display3">Sign Up</h3>
        <%- include('../partials/registerForm') %>
      </div>
    </main>
    <%- include('../partials/cdn'); %>
  </body>
</html>
