<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <header><%- include('../partials/nav'); %></header>
    <main class="container">
      <div class="container-sm"><%- include('../partials/registerForm') %></div>
    </main>
    <%- include('../partials/cdn'); %>
  </body>
</html>
